### C++ template

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Example user template template

# IntelliJ project files
.idea
Test
*.iml
out
gen
